// for "after" elements
%after {
    content: "";
    display: block;
}
%width100 {
    img { width: 100%; }
}
%border-gray {
  border-bottom: 1px solid $border-color;
}
// for articles
%article {
  background-color: $default-color;
  position: relative;
  cursor: pointer;
}
%afterBorder {
  &::after {
    @extend %after;
    @include setAfterElemStyle(0, 2px, $highlight-color);
    position: absolute;
    top: 100%;
    transform: translate(0, 0);
    transition: 0.3s ease-in-out;
  }
  &:hover::after { width: 100%; }
}
// for all section headers 
%header {
  h2 {
    @include adaptiv-font(36, 20);
    font-weight: 400;
    line-height: 2;
    text-align: start;
    color: $titleFont-color;
    margin-bottom: 1.4em;
    &::after {
        @include setAfterElemStyle(80px, 2px, $highlight-color);
    }
  }
}