@import "utils/vars";
@import "utils/reset";
@import "utils/mixins";
@import "utils/templates";

// --------DEFAULT--------
body {
  @include setFont( $mainFont, $mainFontSize, $mainFontWeight,
                    $mainFont-color, $mainLineHeight, inherit, inherit );
}
// --------GRID--------
.wrapper {
  @extend %width100;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
// --------HEADER--------
// header logo
.logo {
  padding: 15px 0;
  @include setFont( $logoFont, 50px, inherit, $logoFont-color, 
                    inherit, inherit, center );
  h1 {
    position: relative;
    display: inline-block;
    span {
      font-size: 12px;
      @include absolutePosition( absolute, -13px, 50%, unset, unset, 
                                 translate(-50%, -30%) rotate(-90deg) );
    }
  }
}
// headre navbar
.nav {
  font-size: 18px;
  padding: 20px 0;
  @extend %border-gray;
  ul {
    @include flex(flex, row, center, center);
  }
}
// navbar links
.nav__link {
  padding: 0 30px;
  a {
    @include setFont( inherit, 18px, $mainFontWeight, $titleFont-color, 
                      $mainLineHeight, inherit, center );
    transition: color 0.2s linear;
    &:hover {
      color: $highlightFont-color;
    }
  }
}
// --------MAIN--------
// hero section
.hero {
  padding: 40px 0;
  .wrapper {
    @include flex(flex, row, space-between, unset);
  }
}
// hero slider
.hero__slider {
  position: relative;
  width: 66.66%;
  @extend %width100;
}
// slide number
.num-slide {
  @include absolutePosition(absolute, 9%, 50%, unset, unset, none);
  @include setFont(inherit, 24px, 600, $default-color, inherit, inherit, inherit);
  p {
    position: relative;
    .slash {
      @include absolutePosition(absolute, -15px, -5px, unset, unset, none);
    }
  }
}
// slide content
.content {
  @include setContentStyle(65%, 30px, 25px, inherit, 0, 12px);
  @include absolutePosition(absolute, 9%, unset, 15%, unset, none);
}
.hero__slider-item {
  .content {
    h3 {
      display: inline-block;
      span {
        display: block;
        border-bottom: 2px solid $highlight-color;
      }
    }
  }
}
// slide pagination
.pagination {
  height: 70px;
  @include flex(flex, column, space-between, center);
  @include absolutePosition(absolute, unset, unset, 15%, 6%, translate(0, 0));
}
.pagination__item {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  &:nth-child(3) {
    background-color: #ffffff;
  }
}
// Two images in hero
.hero__imgs {
  width: 32%;
  @include flex(flex, column, space-between, unset);
}
.hero__imgs-item {
  position: relative;
  .content { 
  @include setContentStyle(80%, 20px, 30px, inherit, 0, 12px);
    p {
      &::after {
        @include setAfterElemStyle(30px, 1px, $default-color);
        margin-top: 10px;
      }
    }
  }
  @extend %width100;
}
// the latest section
.latest {
  position: relative;
  @extend %header;
}
// for section background-color
.latest__wrapper {
  background-color: $sectionLatest-color;
}
.latest__articles {
  padding: 50px 0 100px;
  @include flex(flex, row, space-between, normal);
  article {
    @include setArticleStyle(24px, 16px, inherit, 30px, 12px);
    width: 31.2%;
  }
}
.latest__articles-content {
  padding: 30px;
}
// play hover icon for images in articles
.latest__img {
  position: relative;
  &:hover .play { opacity: 1; }
}
.play {
  height: 70px;
  opacity: 0;
  @include absolutePosition( absolute, 50%, 50%, unset,
                             unset, translate(-50%, -50%) );
  transition: opacity 0.2s linear;
}
// slider in section "latest"
.latest__slider {
  @include flex(flex, row, space-between, flex-end);
  .arrows {
    @include flex(flex, row, space-between, center);
    @include absolutePosition(absolute, unset, unset, 1.5%, 32%, translate(-50%, -50%));
    .arrow__left {
      margin-right: 15px;
    }
  }
}
.latest__slider-item {
  &:nth-child(1) {width: 13%;}
  &:nth-child(2) {width: 55%;}
  &:nth-child(3) {width: 30%;}
  @extend %width100;
  position: relative;
}
.num-slide--latest {
  @include setFont($subtitleFont, 20px, 600, $default-color, inherit, none, start);
  margin-bottom: 5px;
  p {
    position: relative;
    .slash {
      @include absolutePosition(absolute, -15px, -5px, unset, unset, none);
    }
  }
}
.latest__slider-content {
  @include absolutePosition(absolute, 20%, unset, 13%, unset, translate(0, 0));
  @include setContentStyle(100%, 30px, 15px, 12px, 50px, 10px);
  .text {
    width: 50%;
  }
}
// section "reviews"
.reviews {
  padding: 75px 0;
  @extend %header;
}
.reviews__articles {
  margin-top: 50px;
  @include flex(flex, row, space-between, stretch);
}
// big article
.reviews__articles--big {
  width: 49%;
  @extend %border-gray;
  @include flex(flex, column, space-between, stretch);
  @include setArticleStyle(33px, 20px, 14px, inherit, 12px);
  .reviews__articles-content {
    height: 100%;
    margin: 30px;
    @include flex(flex, column, space-between, flex-start);
  }
}
// mimi article
.reviews__articles--mini { 
  width: 48%; 
  @include flex(flex, row, space-between, stretch);
  flex-wrap: wrap;
  article {
    width: 48%;
    height: 305px;
    @extend %border-gray;
    @include flex(flex, column, stretch, flex-start);
    @include setArticleStyle(20px, 15px, 0, 0, 12px);
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }
   }
  .reviews__articles-content {
    height: 100%;
    margin: 15px;
    @include flex(flex, column, space-between, flex-start);
   }
 }
// rating circle
.reviews__img,
.inner-rating {
  position: relative;
}
.rating {
  width: 70px;
  height: 70px;
  z-index: 1;
  @include absolutePosition(absolute, unset, 100%, unset, 5%, translate(0, -50%));
}
.inner,
.circl-move {
  width: 100%;
  height: 100%;
}
.circl-move {
  border-radius: 100%;
  @include absolutePosition(absolute, 50%, 50%, unset, unset, translate(-50%, -50%));
  // rating*10 => 6.4 * 10 = 64
  @include calculRatingBorder(64);
  @include flex(flex, column, center, center);
}
.circle-static {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #ffffff;
  @include flex(flex, column, center, center);
  @include setFont($subtitleFont, 20px, 600, $highlight-color, inherit, inherit, center);
}
.rating.--mini {
  width: 40px;
  height: 40px;
  .circle-static {
    width: 36px;
    height: 36px;
    font-size: 14px;
  }
}
.reviews__articles--mini {
  article {
    &:nth-child(1) {
      .circl-move {
        @include calculRatingBorder(72);
      }
    }
    &:nth-child(2) {
      .circl-move {
        @include calculRatingBorder(80);
      }
    }
    &:nth-child(3) {
      .circl-move {
        @include calculRatingBorder(69);
      }
    }
    &:nth-child(4) {
      .circl-move {
        @include calculRatingBorder(78);
      }
    }
  }
  
}